@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  top: 0px;
  position: -webkit-sticky;
  position: sticky;
}
header .content {
  align-items: center;
  margin: auto;
  height: 60px;
  width: 95%;
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.5);
}
header .content .logo {
  width: 20%;
}
header .content .logo img {
  height: 47px;
  width: 36px;
}
header .content .page {
  display: flex;
  align-items: center;
  width: 45%;
}
header .content .page span {
  height: 1px;
  width: 20px;
  background-color: #191919;
  border-radius: 5px;
}
header .content .page h1 {
  margin: 0 8px;
  font-size: 15px;
  text-transform: uppercase;
}
header .content .menu {
  width: 35%;
  display: flex;
  justify-content: space-around;
}
header .content .menu ion-icon {
  width: 26px;
  height: 26px;
}
header .border {
  display: flex;
  height: 1px;
  width: 90%;
  margin: auto;
  background-color: #191919;
}

main {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
main .haut {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
}
main .haut .left {
  width: 30%;
  display: flex;
  flex-direction: column;
}
main .haut .left .titre {
  margin-bottom: 120px;
}
main .haut .left .titre h3 {
  font-size: 40px;
  text-transform: uppercase;
  position: absolute;
  background-color: #fff;
}
main .haut .left .content {
  border-left: #191919 1px solid;
  padding: 10px 0 10px 10px;
  width: 100%;
}
main .haut .left .content p {
  font-size: 15px;
  color: grey;
}
main .haut .left .cta {
  margin-top: 20px;
}
main .haut .left .cta button {
  background-color: #191919;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
main .haut .right {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
main .haut .right .logo {
  position: absolute;
  width: 105px;
  margin-left: 160px;
  margin-top: -20px;
  background-color: #fff;
  border: 8px solid #fff;
  border-radius: 50%;
  transform: rotate(15deg);
}
main .haut .right .card {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 250px;
  border: 1px solid #191919;
}
main .haut .right .card .pic {
  width: 90%;
  margin: auto;
  margin-top: 70px;
}
main .haut .right .card .pic img {
  width: 100%;
}
main .haut .right .card .pic .flou {
  display: flex;
  flex-direction: column;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  height: 60px;
  width: 45%;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  margin: -80px 0 0 15px;
  padding: 5px;
}
main .haut .right .card .pic .flou .titre h3 {
  font-size: 12px;
}
main .haut .right .card .pic .flou .titre p {
  font-size: 10px;
  color: grey;
}
main .haut .right .card .pic .flou .desc {
  align-items: center;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .haut .right .card .pic .flou .desc h3 {
  font-size: 10px;
}
main .haut .right .card .pic .flou .desc button {
  background-color: #191919;
  border: none;
}
main .haut .right .card .pic .flou .desc button ion-icon {
  display: flex;
  align-items: center;
  color: #fff;
  width: 12px;
  height: 10px;
  padding: 0.2rem 0.2rem;
  cursor: pointer;
}
main .haut .right .card .bas {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  margin: 10px;
}
main .haut .right .card .bas .gauche {
  width: 75%;
  display: flex;
  flex-direction: column;
}
main .haut .right .card .bas .gauche p {
  font-size: 10px;
  color: grey;
  margin-top: -5px;
}
main .haut .right .card .bas .gauche h1 {
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 5px;
}
main .haut .right .card .bas .cta {
  display: flex;
  width: 25%;
  justify-content: end;
}
main .haut .right .card .bas .cta button {
  background-color: #191919;
  border: none;
  color: #fff;
  font-size: 12px;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
}
main .centre {
  width: 90%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}
main .centre .left {
  width: 45%;
  display: flex;
  flex-direction: column;
}
main .centre .left .card {
  border: #191919 1px solid;
}
main .centre .left .card .haut {
  width: 90%;
  margin: auto;
  margin-top: 10px;
  align-items: center;
  margin-bottom: 10px;
}
main .centre .left .card .haut h1 {
  width: 60%;
  text-transform: uppercase;
  font-size: 12px;
}
main .centre .left .card .haut p {
  width: 40%;
  font-size: 10px;
  color: grey;
}
main .centre .left .card .pic {
  width: 150px;
  margin: auto;
}
main .centre .left .card .pic img {
  width: 100%;
}
main .centre .left .card .bas {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
}
main .centre .left .card .bas .gauche {
  width: 70%;
  display: flex;
  flex-direction: column;
}
main .centre .left .card .bas .gauche p {
  color: grey;
  font-size: 10px;
}
main .centre .left .card .bas .gauche h1 {
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 5px;
}
main .centre .left .card .bas .cta {
  width: 30%;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
main .centre .left .card .bas .cta button {
  background-color: #191919;
  border: none;
  color: #fff;
  font-size: 10px;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
}
main .centre .right {
  width: 55%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
main .centre .right .titre {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .centre .right .titre h1 {
  text-transform: uppercase;
  font-size: 30px;
  text-align: left;
}
main .centre .right .titre p {
  display: flex;
  text-transform: uppercase;
  font-size: 25px;
  align-items: center;
}
main .centre .right .titre p span {
  width: 30px;
  height: 1px;
  background-color: #191919;
  margin: 0 10px 0 0;
}
main .centre .right .content {
  border-right: 1px solid #191919;
  padding: 10px 8px;
  margin-top: 20px;
}
main .centre .right .content p {
  text-align: right;
  color: grey;
  font-size: 15px;
}/*# sourceMappingURL=style.css.map */